################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppDrawers/bin/Debug
/AppDrawers/obj/Debug
*.suo
